.allUsersHeader{
    display: flex;
    justify-content: center;
}
.allPatientsTable{
    margin-right: 50%;
}

#patient{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 38%;
}

#patient td, #patient th{
    border: 1px solid #ddd;
    padding: 8px;
}

#patient tr:nth-child(even){
    background-color: #f2f2f2;
}

#patient tr:hover{
    background-color: #ddd;
}

#patient th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    min-width: 150px;
    color: white;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    height: 40%;
    width: 30%;
    margin-top: 10%;
}

/* The Close Button */
.close{
    flex: 0 1 5%;
    width: 100%;
    height: auto;
    opacity: 0.3;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* The head Banner for popUp*/
.popUpHead{
    display: flex;
    flex-direction: row;
    height: 30%;
    background-color: #333;
    justify-content: center;
}
.popUpHeadTitle{
    flex: 1 0 95%;
    color: #dddddd;
    font-size: 2rem;
    padding-left: 26%;
}
.popUpMainContainer{
    height: 70%;
    display: flex;
    flex-direction: column;
}
.popUpTexti {
    flex: 1 0 50%;
    font-size: 1.2rem;
    margin-right: 20%;
    border-style: none;
    width: 80%;
    height: 100%;
    color: black;
}
.popUpButtonContainer{
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
}
.declineContainer{
    flex: 1 0 75%;
    padding-left: 55%;
}
.acceptContainer{
    flex: 0 1 25%;
}
.popUpDecline{
    width: 60px;
    height: 50%;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1.4rem;
    margin-left: 3%;
    margin-bottom: 2%;
}
.popUpAccept{
    width: 60px;
    height: 50%;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1.4rem;
    margin-left: 3%;
    margin-bottom: 2%;
}
.doctorePopUpContainer{
    height: 30px;
}
.allUserserrors{
    color: red;
    display: flex;
    justify-content: center;
}