.headNavigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 13%;
    font-size: 1rem;
}

.itemNavigation {
    float: left;
}

.itemNavigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.itemNavigation a:hover {
    background-color: #111;
}
#login{
    margin-left: 55%;
}
#register {

}
#logout{
    
}