
table.id {
    border: 1px black solid;
}

.id td {
    padding: 15px;
    text-align: left;
}

table.id tr:nth-child(even) {
    background-color: antiquewhite;
}

table.id tr:nth-child(odd) {
    background-color: azure;
}