/*each row there are four rows in the register*/
.row {
    display: flex;
    width: 100%;
}
/* Label for registering */
.title {
    padding-left: 14%;
    width: 20%;

}

input.registerText {
    max-width: 500px;
    width: 100%;
    font-size: 1.5em;
}

input#confirm {
    width: 20%;
    margin-left: 14%;
    background-color: green;
    color: white;
    border-radius: 15px;
    font-size: 2em;
}

select#division {
    max-width: 500px;
    width: 100%;
    font-size: 1.5em;
}
/*Form container for register*/
.registering{
    margin-top: 2%;
}
#password {
    font-size: 1.5rem;
}
/*Fyrir villuskiaboð*/
.errors{
    color: red;
    margin-left: 35%;
    font-size: 1.1rem;
}
#succesfull {
    border: none;
    width: 100%;
    font-size: 1.2rem;
    margin-left: 14%;
}
.registerHeader {
    margin: auto;
    display: flex;
    justify-content: center;
}
